:root {
    --main: #161a24;
    --screen: #2f334d60;
    --high: #4f4e8860;
    --header: #abadff;
    --content: #f3f2ff;
    --tinted-content: #c5acff;
    --dark-content: #e6a6ff;
    --link: #fffddc;
    --link-high: #cbffc4;
    --link-here: #a0ffd3;
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color: var(--content);
    background-color: var(--main);
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
}

div#content {
    max-width: 100ch;
    margin-inline: auto;
    margin-block: 1em;
    padding-inline: 1em;
    padding-block: 0;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.65em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0.5em;
    margin-inline: 1.5rem;
    color: var(--header);
    font-family: serif;
    font-weight: 600;
}

table {
    padding-inline: 2em;
    margin-inline: auto;
}

th {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.15em;
    color: var(--header);
    outline: 1px solid var(--header);
}

td {
    outline: 1px solid var(--link);
    height: 6em;
}

th,
td {
    text-align: center;
    padding-block: 0.5em;
    padding-inline: 0.5em;
}

p {
    margin-inline: 2em;
    margin-block: 1em;
}

blockquote > p {
    border-left: 4px solid var(--link);
    border-radius: 4px;
    margin-left: 1em;
    padding: 0.5em;
    font-style: italic;
}

.center {
    text-align: center;
}

em {
    color: var(--tinted-content);
}

strong {
    color: var(--dark-content);
}

code {
    color: #fff;
    border-radius: 6px;
    padding-inline: 0.3em;
    padding-block: 0.15em;
    background-color: var(--main);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 1em;
}

nav,
img,
label,
code,
table,
li::marker {
    font-family: monospace;
    font-weight: 500;
}

img {
    color: var(--dark-content);
    overflow: hidden;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

hr {
    border: 1px solid var(--header);
    border-radius: 50%;
    margin-block: 1em;
    width: 100%;
    box-sizing: border-box;
}

article,
section {
    margin-block: 1em;
}

article {
    border-top: var(--high) solid 4px;
    border-bottom: var(--screen) solid 4px;
    border-radius: 12px;
    background-color: var(--screen);
    filter: drop-shadow(2px 2px 2px var(--main));
}

p > img {
    display: block;
    max-width: 90%;
    width: fit-content;
    height: auto;
    margin-inline: auto;
}

li > img,
code > img {
    width: 1em;
    height: auto;
    vertical-align: middle;
}

li {
    margin-block: 0.75em;
    margin-inline: 1em;
}

li > p {
    margin: 0;
    display: inline;
}

li::marker {
    font: monospace;
}

ul li::marker {
    content: '> ';
}

li,
ul {
    padding: 0;
    list-style-position: inside;
}

section > ul {
    margin-inline: 1em;
}

a,
label {
    color: var(--link);
}

nav a {
    text-decoration: none;
    padding: 0.65em;
    margin: 0.35em;
    border: var(--high) solid 2px;
    border-radius: 6px;
    background-color: var(--screen);
}

a:hover,
a:focus {
    color: var(--link-high) !important;
}

a > img {
    outline-color: var(--link) !important;
}

a:hover > img,
a:focus > img {
    outline-color: var(--link-high) !important;
}

nav a:hover,
nav a:focus {
    background-color: var(--high);
}

pre > code {
    padding: 1em;
    display: block;
    border: solid 2px var(--tinted-content);
    color: unset;
    background: unset;
    overflow-x: scroll;
    scrollbar-gutter: stable;
}

pre {
    width: max-content;
    margin-inline: auto;
    max-width: 95%;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#traffic-counter {
    border: 1px solid var(--header);
}